@import '../../variables/colors';
@import '../../placeholders/transitions';

.link {
  @extend %default-transition;

  color: $dark-shade-700;

  &--active {
    @apply font-bold cursor-default;

    color: $dark-shade-900;
  }

  &:not(&--active):hover {
    @extend %scale;

    color: $dark-shade-900;
  }
}
