@import '../../../variables/colors';
@import '../../../placeholders/transitions';

.dropdown {
  @apply relative inline-block;

  &__content {
    @apply w-full absolute inset-x-0 z-10 border border-solid rounded border-t-0 shadow-md;

    background: $white-color;

    &--opened {
      @apply max-h-[300px] overflow-y-scroll;
    }

    &--closed {
      @apply hidden;
    }

    &__item {
      @extend %default-transition;
      @apply px-[15px] py-[13px] border border-solid border-transparent cursor-pointer;

      &:hover {
        @apply shadow-md;

        border-color: $dark-shade-600;
      }
    }
  }

  & > .input:not(.input--disabled) {
    cursor: pointer !important;

    & > input {
      @apply cursor-pointer;
    }
  }
}
